@font-face {
    font-family: "Teko";
    src: url("./fonts/Teko-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@import "tailwindcss";


